<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        FX Technology Group
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Blog
                    </a>
                </li>
               
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 
            <a href="javascript:void(0)" target="_blank">Created by FX Team</a> for a better web.
        </div>
    </div>
</footer>
