<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <!-- <span class="nav-tabs-title">Submissions:</span> -->
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <!-- <i class="material-icons">bug_report</i> Approved -->
                                            Recent
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <!-- <i class="material-icons">code</i> In Review -->
                                            Trending
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <!-- <i class="material-icons">cloud</i> Rejected -->
                                            Popular
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <thead>
                                        <th>Votes</th>
                                        <th>Champion</th>
                                        <th>Title</th>
                                        <th>Popularity</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">4</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Kafka replacing ED solace</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">10</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Machine learning in predicting stock value</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">20</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Istio Framework for microservices
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">11</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Distributed File processing</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <thead>
                                        <th>Votes</th>
                                        <th>Champion</th>
                                        <th>Title</th>
                                        <th>Popularity</th>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">20</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Istio Framework for microservices
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">11</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Distributed File processing</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <thead>
                                        <th>Votes</th>
                                        <th>Champion</th>
                                        <th>Title</th>
                                        <th>Popularity</th>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">10</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Machine learning in predicting stock value</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">20</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Istio Framework for microservices
                                            </td>

                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="vote roundrect">
                                                    <div class="increment up"></div>
                                                    <div class="increment down"></div>

                                                    <div class="count">11</div>

                                                </div>
                                            </td>
                                            <td>
                                                    <i class="material-icons">person</i>U12345
                                            </td>
                                            <td>Distributed File processing</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">comment</i>
                                                </button>
                                                12
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                                25

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>